#root {
  width: 1080px; 
  max-width: none;
  margin: 0 auto;
  padding: 0;
}

.app {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 1080px){
  #root{
    width: 100%;
  }
}
